@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato'; 
}
p {
    font-size:1.2em;    
}
.container {
    width:100%;
    padding-right: 0;
    padding-left: 0;    
}
.page-container {
    width:100%;
    max-width:1200px;
    margin:0 auto;    
}
.centered {
    width: 85%;
    max-width:1400px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.col-sm-4 {
    text-align: center;
}
.col-sm-5 {
    text-align: left;
}
.navbar-wrapper {
    margin-top:0;    
}
.navbar-wrapper .navbar {
    border-radius: 0;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand {
    padding:5px;
}
.navbar-brand img {
    width:300px;    
}
.slogan {
    padding-left:20px; 
}
.navbar-collapse ul li {
    text-align:center;    
}
.navbar-nav {
    float: right;
    margin: 30px 0 10px;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-toggle {
    background-color: #999;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
color: #999;
opacity:0.8;    
background-color: transparent;
}
footer {
    margin-top:200px;
    margin-bottom:100px !important;
    background-color:#999;
    bottom:100;
}
.footer-block {
    background-color: lightskyblue;
/*    background-color:#93b7d5;*/
/*    background:url("/pAssets/request-demo/footer-bg.jpg") 0 0 no-repeat; */
    background-position:center;
    width:100%;   
    padding-top:50px;
    padding-bottom:100px;
    padding-left:5%;
    padding-right:5%;
    margin-top:100px;
    height:400px;
}
.footer-inner {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}    
.marketing .col-lg-4 p {
    text-align: justify;
}
.carousel .item {
    height: 350px;
}
.carousel-inner > .item > img {
    height: 350px;
}
.carousel {
    margin-bottom: 60px;
    margin-top: 0;
}
.carousel-inner > .item > img {
    width: 100%;
}
.carousel-caption h1, .carousel-caption p {
    color:#999;
}
.carousel-caption {
    text-shadow:none;    
}
.carousel-indicators {
    display:none;
}
.carousel-caption.slide1 {
    padding:1.4% 0 4% 14%; 
    text-align:right;
}
.carousel-caption.slide2 {
    padding:0 14% 4% 0; 
    text-align:left;
}
.carousel-caption.slide3 {
    padding:0 0 8% 14%; 
    text-align:right;
}
.carousel-caption h1 {
    font-size:3em;
    text-shadow: 1px 1px 1px;
}
.carousel-control.right {
    background-image:none;
} 
.carousel-control.left {
    background-image:none;
}    
.bottom-text {
    margin-top:60px;    
}
.carousel-inner>.item>img, .img-responsive {
    max-width:1700px;
    margin:0 auto;
}
.carousel-inner > .item > img {
    width:auto;
}    
.footer-block ul li {
    text-decoration:none;
    display:inline;  
    padding-right: 20px;
}
.footer-block ul {
    padding-top: 0px;
}
a {
    color:inherit;    
}
a:hover {
    opacity:0.7;    
    color:inherit;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width:320px) and (max-width: 768px) {
  .footer-block {
    height:auto;  
    background-position:left bottom;    
  }
  .pull-right {
    float:left !important;    
    }   
  .carousel-caption h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    }
  .carousel-caption.slide1, .carousel-caption.slide2, .carousel-caption.slide3 {
    padding:0; 
    text-align:center;
    }
}
@media (min-width: 768px) {


  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media (min-width:769px) and (max-width: 1060px) {
  .carousel-caption h1 {
    font-size:3em;
    margin-bottom:30px;
    }
}
