@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato';
}
p {
    font-size:1.2em;
}

.container {
    width:100%;
    padding-right: 0;
    padding-left: 0;
}
.page-container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.centered {
    width: 85%;
    max-width:1400px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.col-sm-4 {
    text-align: center;
}
.col-sm-5 {
    text-align: left;
}
.navbar-wrapper {
    margin-top:0;
}
.navbar-wrapper .navbar {
    border-radius: 0;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand {
    padding:5px;
    display: block;
    float: none;-webkit-padding-start
}
.navbar-brand img {
    width:300px;
}
.slogan {
    padding-left:20px;
    display: block;
}
.slogan h4 {
    color: slategray;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-collapse ul li {
    text-align:center;
}
.navbar-nav {
    font-size: 18px;
    float: right;
    margin: 30px 0 10px;
}
.navbar {
    margin-bottom: 10px;
}
.navbar-toggle {
    background-color: #999;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: slategray;
    opacity:0.8;
    background-color: transparent;
}

footer {
    /*margin-top:200px;*/
    margin-bottom:100px !important;
    background-color:#999;
    bottom:100px;
}
.footer-block {
    background-color: lightskyblue;
    /*background-color:#93b7d5;*/
    /*background:url("/pAssets/request-demo/footer-bg.jpg") 0 0 no-repeat; */
    /*background-position:center;*/
    width:100%;
    padding: 50px 5% 100px;
    margin-top:100px;
    height:400px;
}
.footer-inner {
    max-width:1200px;
    width:100%;
    margin:0 auto;
    position: relative;
    height: 100%;
}
p.text-center {
    position: absolute;
    bottom:0;
}
.marketing .col-lg-4 p {
    text-align: justify;
}
.carousel .item {
    height: 350px;
    background-color: lightgray;
}
.carousel-inner > .item > img {
    height: 350px;
}
.carousel {
    margin-bottom: 60px;
    margin-top: 0;
}
.carousel-inner > .item > img {
    width: 100%;
}
.carousel-caption h1, .carousel-caption p {
    color:slategray;
}
.carousel-caption {
    text-shadow:none;
}

.carousel-caption.slide {
    padding:1% 35% 0 1%;
    text-align:right;
}
.carousel-caption h1 {
    font-size:2.6em;
    text-shadow: 1px 1px 1px;
}
.carousel-control.right {
    background-image:none;
}
.carousel-control.left {
    background-image:none;
}
.bottom-text {
    margin-top:60px;
}
.carousel-inner>.item>img, .img-responsive {
    max-width:1700px;
    padding-left: 40%;
    margin:0 auto;
}
.carousel-inner > .item > img {
    width:auto;
}
.img-full {
    max-width:1200px;
}
.footer-block ul li {
    text-decoration:none;
    display:inline;
    padding-right: 20px;
}
.footer-block ul {
    padding-top: 0;
}
a {
    color:inherit;
}
a:hover {
    opacity:0.7;
    color:inherit;
}
.map {
    text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width:320px) and (max-width: 768px) {
    .footer-block {
        height: auto;
        background-position:left bottom;
    }
    .pull-right {
        float:left !important;
    }
    .carousel-caption h1 {
        font-size: 2.3em;
        margin-bottom: 0;
    }
    .carousel-caption.slide {
        padding:0;
        text-align:left;
    }
    .carousel-inner>.item>img, .img-responsive {
        padding-left: 100%;
        margin:0 auto;
    }
    .navbar-brand img {
        width: 250px;
    }
    ul {
        -webkit-padding-start: 0px;
    }    
    p.text-center {
        position: relative;
        bottom: 0;
    }
}
@media (min-width:769px) and (max-width: 1160px) {
    .carousel-caption h1 {
        font-size:2.3em;
    }
    .carousel-inner>.item>img, .img-responsive {
        max-width: 1000px;
        padding-left: 50%;
        margin:0 auto;
    }
    .footer-block {
        height: 500px;
    }
}
@media (min-width:1161px) and (max-width: 1500px) {
    .carousel-inner>.item>img, .img-responsive {
        max-width: 1200px;
        padding-left: 30%;
        margin:0 auto;
    }
}
@media (min-width: 1161px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}